@font-face{
    font-family: electroharmonix;
    src: '/electroharmonix.ttf';
}

* {
	margin: 0px;
	padding: 0px;
	color: #fff
}

body {
	font-family: 'Noto Sans SC', sans-serif;
	background: rgb(36, 36, 36);
}

h1 {
	color: #fff;
	font-family: electroharmonix, sans-serif;
	font-size: 26px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

h1 a{
	text-decoration: none;
}

h1 a:hover{
	color: #8cffec;
}

h2.not-found{
	font-size: 50px;
}

h3.not-found {
	font-size: 40px;
}


h2.not-found, h3.not-found {
	
	text-align: center;
	color: #fff;
}

input.button, a.copy, a.clear {
	font-family: SegoeUI, sans-serif;
	text-align: center;
	display: flow-root;
	text-decoration: none;
	user-select: none;
	color: #323130;
	font-size: 20px;
	height: 32px;
	padding: 2px 20px;
	margin-bottom: 15px;
	margin-right: 0px;
}

input.button {
	background: #038387;
	color: #fff;
	border: 2px solid #038387;
}

a.copy, a.clear {
	background: #333333;
	color: #fff;
	border: 2px solid #333333;
}

a.copy:hover, a.clear:hover {
	border-color: #666666;
}

input.button:hover {
	border-color: #4bb4b7;
}

a.copy:active, a.clear:active {
	border-color: #666666;
	background: #666666;
}

input.button:active {
	background: #4bb4b7;
	border-color: #4bb4b7;
}

.content {
	padding-left: 15px;
	padding-right: 15px;
}

textarea {
	font-family: SegoeUI, sans-serif;
	color: #fff;
	background: rgb(54, 54, 54);
	padding: 10px;
	padding-top: 5px;
	margin-bottom: 15px;
	width: 100%;
	font-size: 16px;
	border: 2px solid #323130;
	box-sizing: border-box;
	outline: none;
	resize: none;
}

textarea:hover {
	border-color: #605e5c;
}

textarea:focus {
	border-color: #038387;
}

div.not-found {
	text-align: center;
}
img.not-found {
    max-width: 45%;
	object-fit: fill;
    height:auto;
}

div.about{
	margin-bottom: 5%;
}

table {
	border-collapse: collapse;
	width: 100%;
}
tr.header {
	border-bottom: 2px solid #fff;
}

@media screen and (min-width: 992px) {

h1 {
	text-align: right;
}

input.button  {
	display: inline;
	height: 39px;
	padding-bottom: 5px;
	margin-right: 5px;
}

a.copy, a.clear {
	display: inline-block;
	margin-right: 5px;
}


.content {
	padding-left: 15%;
	padding-right: 15%;
}
}
